<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <title>UserInfo</title>
    </head>
    <body>
        <div id="info">
            <h1>Общее количество пользователей: {{ user_count }}</h1>
            <div id="user-info">
                <p>Ваше имя: {{ user_name }}</p>
                <p>Ваш возраст: {{ user_age }}</p>
            </div>

            <button id="editButton" onclick="showForm()">Изменить</button>

            <form id="updateForm" method="post" action="{{ url_for('post_user_data', user_id=user_id) }}" style="display: none;">
                <label for="new_name">Новое имя:</label>
                <input type="text" id="new_name" name="new_name" placeholder="Введите новое имя">

                <label for="new_age">Новый возраст:</label>
                <input type="number" id="new_age" name="new_age" placeholder="Введите новый возраст">

                <button type="submit">Обновить</button>
            </form>
        </div>
    </body>
    <script>
        var webapp = window.Telegram.WebApp;
        webapp.expand();

        function showForm() {
            var editButton = document.getElementById("editButton");
            var form = document.getElementById("updateForm");

            editButton.textContent = editButton.textContent === "Изменить" ? "Отмена" : "Изменить";
            form.style.display = form.style.display === "none" ? "block" : "none";
        }
    </script>
</html>
