* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: color-mix(in srgb, purple, pink);
}

body {    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Arial", sans-serif;
    background-color: color-mix(in srgb, var(--primary-color), white 80%);

    height: 100vh;
}


#info, #user-info {
    display: flex;
    flex-direction: column;
}

#info {
    align-items: center;

    width: 85%;
    padding: 20px 0;

    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 20%);
    text-align: center;

    position: relative;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 25px;

    gap: 10px;
}

#info::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;
    margin: -5px;

    border-radius: inherit;
    background: linear-gradient(45deg, purple, pink);
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}


h1 {
    font-size: 24px;
    color: #333;
}

p {
    color: #333;
    margin: 5px 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: color-mix(in srgb, purple, pink);
    color: white;
    padding: 10px 15px;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
